*{
    color: white;
}

.buttonselect button{
    background-color: black;
    color: red;
    border: none;
}

.buttondontselect button{
    background-color: black;
    color: white;
    border: none;
}

.buttondontselect button:hover{
    color: brown;
}

.menu_ensambleparts{
    display: flex;
    gap: 2rem;
    margin-left: 15%;
}

.column div{
    text-align: center;
}

.sizespinner{
    width: 100px;
    height: 100px;
}