
<!--Barra de Navegacion-->
<div class="navbar">
    <div class="logo_header">
        <img src="assets/LOGO_JB.png" >
        <i class="cv_julian_burbano">CV Julian Burbano</i>
    </div>
    <div class="menu_navbar">
      <div class="bottonsanda">
        <a routerLink="Perfil">{{ 'HEADER.PROFILE' | translate }}</a>
        <button class="proyect"  [matMenuTriggerFor]="menu">{{ 'HEADER.PROJECTS' | translate }}</button>
      </div>
        <mat-menu #menu="matMenu" yPosition="above" class="custom-class">
            <button mat-menu-item (click)="Navegar('dibujo_mecanico')"> <i class="bi bi-nut"></i> {{ 'HEADER_PROJECTS.DRAW_MECHANICS' | translate }}</button>
            <button mat-menu-item (click)="Navegar('programation')"> <i class="bi bi-braces"></i> {{ 'HEADER_PROJECTS.PROGRAMATION' | translate }}</button>
            </mat-menu>
        
    </div>
    <div class="contact">
        <a href="https://www.linkedin.com/in/julian-alejandro-burbano-diaz-7475bb221/" target="_blank"><i class="bi bi-linkedin icon_linkedin"></i></a>
        <a href="https://github.com/Julianbur16" target="_blank"><i class="bi bi-github icon_github"></i></a>
        <a href="#" class="bi bi-envelope icon_message" data-bs-toggle="modal" data-bs-target="#ModalMessage"></a>

    </div>
</div>

<!--Modal para enviar mensajes de correo-->
<div class="modal fade" id="ModalMessage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content colorbrown">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ 'MODAL_FORM.NEW_MESSAGE' | translate }}</h5>
        </div>
        <div class="modal-body">
          <form [formGroup]="formmessage" (submit)="submitdata()" id="formmessage" name="formmessage">

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label colortexformail">*{{ 'MODAL_FORM.FULL_NAME' | translate }}</label>
              <input type="text"  formControlName="fulname" class="form-control transparetns" id="recipient-name" autocomplete="off">
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label colortexformail">*{{ 'MODAL_FORM.EMAIL' | translate }}</label>
              <input type="email" class="form-control transparetns" placeholder="xxxxxx@gmail.com" id="recipient-name " name="primaryEmail" [(ngModel)]="primaryEmail" formControlName="mail" autocomplete="off"><i *ngIf="formmessage.controls['mail'].valid " class="bi bi-check2 checkinto"></i><i *ngIf="!formmessage.controls['mail'].valid " class="bi bi-circle dontcheckinto"></i>
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label colortexformail">*{{ 'MODAL_FORM.CONFIRMATION_EMAIL' | translate }}</label>
              <input type="email" class="form-control transparetns" onpaste="return false" id="recipient-name" placeholder="xxxxxx@gmail.com" name="secondEmail" [(ngModel)]="secondEmail" formControlName="confirmationmail" autocomplete="off"><i *ngIf="primaryEmail == secondEmail && secondEmail != '' && secondEmail != null" class="bi bi-check2 checkinto1"></i><i *ngIf="primaryEmail != secondEmail || secondEmail == '' || secondEmail == null" class="bi bi-circle dontcheckinto1"></i>
            </div>

            <div class="mb-3">
              <label for="recipient-name" class="col-form-label colortexformail">{{ 'MODAL_FORM.PHONE' | translate }}</label>
              <input type="text"  class="form-control transparetns" id="recipient-name" formControlName="subjects" autocomplete="off"><i *ngIf="formmessage.controls['subjects'].valid && formmessage.controls['subjects'].value != '' && formmessage.controls['subjects'].value != null " class="bi bi-check2 checkinto2"></i><i *ngIf="!formmessage.controls['subjects'].valid && formmessage.controls['subjects'].value != ''" class="bi bi-circle dontcheckinto2"></i>
            </div>

            <div class="mb-3">
              <label for="message-text" class="col-form-label colortexformail">*{{ 'MODAL_FORM.MESSAGE' | translate }}:</label>
              <textarea class="form-control transparetns" id="message-text"formControlName="texttask"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'MODAL_FORM.CLOSE' | translate }}</button>
          <button type="submit" form="formmessage" class="btn btn-primary" [disabled]="!formmessage.valid || !(primaryEmail == secondEmail)" data-bs-dismiss="modal" >{{ 'MODAL_FORM.SEND' | translate }}</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Vertically centered modal -->
  <div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content colorblack">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ 'MODALCHECK_FORM.MESSAGE_SENT' | translate }}</h5>
        </div>
        <div class="modal-body">
          <i class="bi bi-check-circle checksend" ></i>
          <h5>{{ 'MODALCHECK_FORM.TEXT_MAIN' | translate }}</h5>
          <h6>{{ 'MODALCHECK_FORM.TEXT' | translate }}</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>

 