<hr>
<br><br>
<div class="footer">
    <div>
        <p>{{ 'FOOTER.CONTACT' | translate }}:</p>
        <hr>
        <p>Julian Alejandro Burbano Diaz</p>
        <p>Julianbur16@gmail.com</p>
        <p>+57 3163865945</p>
        
    </div>

    <div class="icons_footer">
        <a href="https://www.facebook.com/julian.burbano.96/" target="_blank"><i class="bi bi-facebook icon_fc"></i></a>
        <a href="https://www.youtube.com/channel/UCx-ad7aVSnyrX-GUl5QswKQ" target="_blank"><i class="bi bi-youtube icon_yt"></i></a>
        <a href="https://www.linkedin.com/in/julian-alejandro-burbano-diaz-7475bb221/" target="_blank"><i class="bi bi-linkedin icon_lk"></i></a>
        <a href="https://github.com/Julianbur16" target="_blank"><i class="bi bi-github icon_gh"></i></a>
    </div>

    <div>
        <p>{{ 'FOOTER.LANGUAGE' | translate }}: </p>
        <hr>
        <ul [class.list_language]="style_languges">
            <a routerLink="#" (click)="cl_selection_languge(1)"><li [class.select_laguage]="selection_language1">{{ 'FOOTER.LANGUAGE1' | translate }}</li></a>
            <a routerLink="#" (click)="cl_selection_languge(2)"><li [class.select_laguage]="selection_language2">{{ 'FOOTER.LANGUAGE2' | translate }}</li></a>
            <a routerLink="#" (click)="cl_selection_languge(3)"><li [class.select_laguage]="selection_language3">{{ 'FOOTER.LANGUAGE3' | translate }}</li></a>
            <a routerLink="#" (click)="cl_selection_languge(4)"><li [class.select_laguage]="selection_language4">{{ 'FOOTER.LANGUAGE4' | translate }}</li></a>
        </ul>
    </div>
</div>
<br><br>


