<div class="body">
    <br>
    <img class="chat" src="assets\chatbot.png" alt="Chatbot" (click)="modalchat()">
    <div class="nombres">
        <p>Julian Alejandro</p>
        <p class="apellido">Burbano Diaz</p> 
    </div>
    <div Class="profesion">
        <p>{{ 'BODY.MAJOR' | translate }}</p>
    </div>

    <br>
    <div [class.imag_text]="body_resposiv">
    <div class="information">
        <div class="fotocv">
            <img src="assets\fotoCV.png">
        </div>
        <div class="information_acerca_de">
            <i class="bi bi-person"> {{ 'BODY.ABOUT' | translate }}</i>
            <hr>
            <p>{{ 'BODY.ABOUT_OF' | translate }}</p>
            <br>
            <i class="bi bi-globe-americas"> {{ 'BODY.LANGUAGES_SPEAK' | translate }}</i>
            <hr>
            <div class="flags">
            <p><i class="flag flag-colombia"></i>{{ 'BODY.LANGUAGES_SPEAK1' | translate }}</p>
            <p><i class="flag flag-united-states"></i>{{ 'BODY.LANGUAGES_SPEAK2' | translate }}</p>
        </div>
        </div>
    </div>

    <div [class]="slider_img">
        <div [class]="img_of_sli">
            <br>
            <h6>{{title_image}}</h6>
            <img [src]="ruta" >
        </div>
        <div class="buttons_slider">
            <a (click)="change_image(1)"><i [class]="circle1"></i></a>
            <a (click)="change_image(2)"><i [class]="circle2"></i></a>
            <a (click)="change_image(3)"><i [class]="circle3"></i></a>
            <a (click)="change_image(4)"><i [class]="circle4"></i></a>
            <a (click)="change_image(5)"><i [class]="circle5"></i></a>
        </div>
        
    </div>

</div>

<div class="title_education">
<i class="bi bi-journal-bookmark"> {{ 'BODY.EDUCATION' | translate }}</i>
<hr>
</div>
<div class="Education">
    
    <div class="University">

        <div class="centrar">
            <p>2017-2023</p>
            <img src="assets\escudo_unipamplona_.png">
        </div>
        <br>
        <div class="centrar">
            <p>{{ 'BODY.EDUCATION11' | translate }}</p>
            <p>{{ 'BODY.EDUCATION12' | translate }}</p>
            <p>{{ 'BODY.EDUCATION13' | translate }}</p>
        </div>
    </div>

    <div class="Ingles_ipt">

        <div class="centrar">
            <p>2022</p>
            <br>
            <img src="assets\escudo_ipt.png">
        </div>
        <br><br><br>
        <div class="centrar">
            <p>{{ 'BODY.EDUCATION21' | translate }}</p>
            <p>{{ 'BODY.EDUCATION22' | translate }}</p>
            <p>{{ 'BODY.EDUCATION23' | translate }}</p>
        </div>
    </div>

    <div class="School">

        <div class="centrar">
            <p>2002-2015</p>
            <img src="assets\escudo_sucre.png">
        </div>
        <br>
        <div class="centrar">
            <p>{{ 'BODY.EDUCATION31' | translate }}</p>
            <p>{{ 'BODY.EDUCATION32' | translate }}</p>
            <p>{{ 'BODY.EDUCATION33' | translate }}</p>
        </div>
        
    </div>

    
</div>

<br>

<div class="title_education">
    <i class="bi bi-cpu"> {{ 'BODY.SOFTWARE_SKILL' | translate }}</i>
    <hr>
</div>

<div class="principal_habilities">

<div [class.double]="control_double">
<div [class.hability]="control_hability">
<div class="name_skill">
    <h6>{{ 'BODY.SOFTWARE_SKILL1' | translate }}</h6>

</div>
<div class="v-line">
    <p>SolidWorks</p>
    <p>MasterCam</p>
    <p>AutoCad</p>
</div>
</div>

<div [class.hability]="control_hability">
    <div class="name_skill">
        <h6>{{ 'BODY.SOFTWARE_SKILL2' | translate }}</h6>
        <h6>{{ 'BODY.SOFTWARE_SKILL21' | translate }}</h6>
    </div>
    <div class="v-line">
        <p>Android studio</p>
        <p>Matlab</p>
        <p>Simulink</p>
    </div>
</div>
</div>
<div [class.double]="control_double">
<div [class.hability]="control_hability">
    <div class="name_skill">
        <h6>{{ 'BODY.SOFTWARE_SKILL3' | translate }}</h6>
        <h6>{{ 'BODY.SOFTWARE_SKILL31' | translate }}</h6>
    </div>
    <div class="v-line">
        <p>Arduino</p>
        <p>Thony</p>
        <p>PIC C</p>
    </div>
</div>

<div [class.hability]="control_hability">
    <div class="name_skill">
        <h6>{{ 'BODY.SOFTWARE_SKILL4' | translate }}</h6>
        <h6>{{ 'BODY.SOFTWARE_SKILL41' | translate }}</h6>
    </div>
    <div class="v-line">
        <p>TIA Portal</p>
        <p>Zelio Soft</p>
        <p>LogoSoft</p>
    </div>
</div>
</div>

<div [class.hability]="control_hability">
    <div class="name_skill">
        <h6>{{ 'BODY.SOFTWARE_SKILL5' | translate }}</h6>
    </div>
    <div class="v-line">
        <p>VS Code</p>
        <p>CorelDraw</p>
        <p>LabView</p>
    </div>
</div>

</div>

<br><br><br>
<div [class]="control_languages_skills">
<div class="title_education_skill">
    <i class="bi bi-code-slash"> {{ 'BODY.PROGRAM_LANGUAGE' | translate }}</i>
    <hr>
    <ul>
        <li>Python</li>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>PHP</li>
        <li>C++</li>
        <li>Sql</li>
        <li>Laravel</li>
        <li>Angular</li>
    </ul>
</div>

<div class="title_education_skill">
    <i class="bi bi-card-list"> {{ 'BODY.SOFT_SKILL' | translate }}</i>
    <hr>
    <ul>
        <li>{{ 'BODY.SOFT_SKILL1' | translate }}</li>
        <li>{{ 'BODY.SOFT_SKILL2' | translate }}</li>
        <li>{{ 'BODY.SOFT_SKILL3' | translate }}</li>
        <li>{{ 'BODY.SOFT_SKILL4' | translate }}</li>
        <li>{{ 'BODY.SOFT_SKILL5' | translate }}</li>
        <li>{{ 'BODY.SOFT_SKILL6' | translate }}</li>
    </ul>
</div>
</div>
<br><br>
<div class="db">
<i class="bi bi-card-list"> {{ 'BODY.DB' | translate }}</i>
<hr>
<div [class.list_of_database]="control_list_of_database">
    <ul>
        <li>MySql</li>
        <li>SQL Server</li>
        <li>Firebase</li>
    </ul>
    <br>
</div>
</div>
</div>


<!--Modal para enviar mensajes de correo-->
<div class="modal fade" id="chatMessage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content colorbrown">
        <div class="modal-header header_chatmodal">
          <p>{{ 'MODAL_CHATGPT.HELLO' | translate }}</p>
          <p>{{ 'MODAL_CHATGPT.INDICATIONS' | translate }}</p>
        </div>
        <div class="modal-body">
          <form [formGroup]="formmessage1" (submit)="submitdata1()" id="formmessage1" name="formmessage1">

            <div class="mb-3">
                <label for="message-text" class="col-form-label colortexformail">*{{ 'MODAL_CHATGPT.MESSAGECHAT' | translate }}:</label>
                <textarea class="form-control transparetns" id="message-text" [(ngModel)]="valueask" formControlName="texttask" placeholder="How old is Julian ?, please answer in English"></textarea>
              </div>

            <div class="mb-3">
              <label for="message-text" class="col-form-label colortexformail">{{ 'MODAL_CHATGPT.RESPONSE' | translate }}:</label>
              <textarea class="form-control transparetns1" id="message-text" readonly >{{valorread}}</textarea>
            </div>

            <div *ngIf="spinnerstatus" class="spinner-border text-primary" role="status">
                <span class="sr-only"></span>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'MODAL_FORM.CLOSE' | translate }}</button>
          <button type="submit" form="formmessage1" class="btn btn-primary" [disabled]="!formmessage1.valid " >{{ 'MODAL_FORM.SEND' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
